<!DOCTYPE html>
<html lang="en">
<head>
    <title>Выбор даты</title>
</head>
<body>
    <h2>Выбор даты</h2>
    <form method="post">
        {% csrf_token %}
        <input type="date" id="date1" name = "date1" value ={{currentdate}}>
        <input type="submit" value="Отправить">
    </form>
</body>
<h3>Техподдержка:</h3>
Тел: +7(495) 411-77-59, доб.2011
<br>
Моб: +7(925) 161-76-09
<br>
Email: eosed@rosmorport.ru
<br>
Email2: v.maklashov@rosmorport.ru
<br>
<div id="badges3">
  <a href="https://t.me/VsevolodMaklashov">
    <img src="https://img.shields.io/badge/Telegram-blue?style=for-the-badge&logo=Telegram&logoColor=white" alt="LinkedIn Badge"/>
  </a>
</div>
</html>